@charset "UTF-8";

body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("../cinema.jpeg");
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #000000;
    margin: 0 0 5px;
  }

  label{
    margin: auto;
    color: #000000;
    font-weight: bold;
    font-size: 18px;

  }
  
  .page-subtitle {
    color: #000000;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  #listaFilmes img {
    margin: 10px;
    max-height: 250px;
  }
  
  #listaFilmes p {
    color: #ffffff; /* Adicionando a cor branca para o texto do nome do filme */
  }
  
  .form-wrapper {
    margin: 0 0 15px;
  }
  
  .form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
  }
  
  .form-wrapper button {
    border: 0;
    color: #ffffff;
    background: #da1e26;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: rgb(191, 35, 35);
    color: white;
    margin: 10px;
    padding: 5px;
  }
  
  .form-wrapper button:hover {
    opacity: 0.8;
  }

  
  