@charset "UTF-8";

body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
  }
  p {
      font-family: 'Arial', sans-serif;
      font-size: 2em;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 8.0);
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  #listaFilmes img {
    margin: 10px;
    max-height: 250px;
  }
  
  .form-wrapper {
    margin: 0 0 15px;
  }
  
  .form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
  }
  
  .form-wrapper button {
    border: 0;
    color: #ffffff;
    background: #da1e26;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .form-wrapper button:hover {
    opacity: 0.8;
  }
  
  .btn{
    margin: 20px;
    width: 100px;
    height: 30px;
    background-color: rgb(201, 40, 40);
    border: none;
    border-radius: 3px;
    color: white;
  }

  .botao-remover-filme {
    width:80px;
    color:white;
    background: #da1e26;
    cursor: pointer;
  }